var root = __dirname,
    // Allow to fast switch between projects by changing just that var
    src = root + '/src',
    tmp = root + '/tmp',
    dist= root + '/dist';

module.exports = {
    contentdata: {
        app: {
            name: 'Frast',
            description: 'Fast frontend mockup',
            copyright: {
                name: 'Tilap',
                url : 'http://tilap.net/',
                date: 'September 2014'
            }
        },
        author: {
            name: 'Tilap',
            twitter: 'jlavinh',
            googleplus: 'https://plus.google.com/u/0/100500349692608932832/posts'
        },
        github: {
            url: 'http://github.com/tilap/frast/'
        }
    },
    server: {
        port: 4000
    },
    livereload: {
        port: 4002
    },
    paths: {
        tmp: tmp,
        export: '',
        dist: dist,
        less: {
            src: src + '/stylesheet',
            tmp: tmp + '/stylesheet',
            dist: dist + '/stylesheet'
        },
        js: {
            src: src + '/js',
            tmp: tmp + '/js',
            dist: dist + '/js'
        },
        fonts: {
            src: src + '/fonts',
            dist: dist + '/fonts'
        },
        html: {
            src: src + '/html',
            dist: dist + '/'
        },
        assets: {
            src: src + '/assets',
            dist: dist + '/assets'
        },
        sprites: {
            src: src + '/sprites',
            dist: {
                less: src + '/stylesheet/sprites',
                img: dist + '/assets',
                relateivePath: '/assets/sprite.png'
            },
            template: src + '/tools/spritesmith/template.mustache'
        }
    },
    style: {
        compilation: {
            less: {
                // see http://lesscss.org/usage/#command-line-usage
                // note: no sourcemap according to https://github.com/plus3network/gulp-less
                options: {
                    compress: true,
                    cleancss: true,
                    strictImports: true,
                    strictUnits: true,
                    strictMath: false,
                    sourceMap: true,
                    globalVar: '',
                    modifyVars: {},
                    paths: ['vendor']
                }
            },
            autoprefixer : {
                enabled : true,
                // See https://github.com/sindresorhus/gulp-autoprefixer
                options: {
                    browsers: ['last 2 versions'],
                    cascade: false
                }
            }
        },
        // see https://github.com/twolfson/gulp.spritesmith#documentation
        // Path for sources, templates and so on are defined in .paths.sprites
        spritesmith: {
            imgName: 'sprite.png',
            cssName: 'sprite.less',
            algorithm: 'binary-tree',
            padding: 2, // Padding security
            cssFormat: 'less'
        }
    },
    js: {
        linter:{
            // See http://jshint.com/docs
            options: {}
        },
        compilation: {
            // See https://www.npmjs.org/package/gulp-browserify
            browserify: {
                enabled: true,
                options: {}
            },
            concat: {
                enabled: true,
                filename: 'bundle.js'
            },
            uglify: {
                enabled: true,
                // See https://github.com/terinjokes/gulp-uglify
                options: {
                    compress: true,
                    preserveComments: 'some'
                }
            }
        }
    },
    html: {
        linter: {
            // See https://github.com/yaniswang/HTMLHint/wiki/Rules
            options: {
                'tagname-lowercase': true,
                'attr-lowercase': true,
                'attr-value-double-quotes': true,
                'attr-value-not-empty': true,
                'attr-no-duplication': true,
                'doctype-first': true,
                'tag-pair': true,
                'tag-self-close': true,
                'spec-char-escape': true,
                'id-unique': true,
                'src-not-empty': true,
                'head-script-disabled': false,
                'img-alt-require': true,
                'doctype-html5': true,
                'id-class-value': false,
                'style-disabled': true,
                'space-tab-mixed-disabled': false,
                'id-class-ad-disabled': false,
                'href-abs-or-rel': false,
                'attr-unsafe-chars': false,
                'csslint': false,
                'jshint': false
            }
        },
        compilation: {
            htmlmin: {
                enabled: true,
                // See https://github.com/kangax/html-minifier#options-quick-reference
                options: {
                    collapseWhitespace: true,
                    conservativeCollapse: true
                }
            }
        }
    },
    assets: {
        images: {
            compression: 5
        }
    },
    // See https://www.npmjs.org/package/gulp-gh-pages
    ghpages: {
        origin: 'origin',
        branch: 'gh-pages',
        cacheDir: tmp
        // push: '',
        // message: ''
    }
};